body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

h3 {
    color: #007BFF;
    border-bottom: 1px solid #929CA4;
}

p:first-of-type::first-letter {
    font-size: 30px;
}

.solution {
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1,
#testimonial2 {
    font-style: italic;
    text-indent: 50px;
}

#vProspect,
#vRetain,
#vConvert
{
    color: #800080;
    font-weight: bold;
}

a[href^="http"] {
    color: #007BFF;
    text-decoration: none; 
}

a[href^="http"]:visited {
    color: #800080; 
}

a[href^="http"]:active {
    color: #FF0000; 
}

a[href^="http"]:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}


ul li:first-child {
    color: blue;
}

ul li:last-child {
    color: red;
}
